In [1]:
import os
print(os.getcwd())

d:\MLOps\customer-churn\experiments

In [2]:
os.chdir("../")
print(os.getcwd())

d:\MLOps\customer-churn

In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("artifacts\dataset.csv")

In [4]:
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [5]:
df['Contract Length'].value_counts()

Contract Length
Annual       177198
Quarterly    176530
Monthly       87104
Name: count, dtype: int64

In [6]:
df[df['Churn']==1]['Contract Length'].value_counts()

Contract Length
Monthly      87104
Annual       81646
Quarterly    81249
Name: count, dtype: int64

In [7]:
df[df['Churn']==0]['Contract Length'].value_counts()

Contract Length
Annual       95552
Quarterly    95281
Name: count, dtype: int64

Conclusion: We can clearly see that monthly customers are churners.

In [8]:
df[df['Contract Length']=='Monthly']

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
11,14.0,52.0,Female,21.0,6.0,3.0,26.0,Premium,Monthly,830.00,19.0,1.0
18,21.0,24.0,Male,44.0,13.0,5.0,4.0,Premium,Monthly,669.00,13.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
253683,260797.0,64.0,Female,19.0,28.0,6.0,21.0,Premium,Monthly,810.08,20.0,1.0
253684,260798.0,28.0,Male,50.0,15.0,2.0,13.0,Premium,Monthly,427.31,5.0,1.0
253687,260801.0,22.0,Male,10.0,17.0,5.0,14.0,Standard,Monthly,494.73,27.0,1.0
253690,260804.0,24.0,Male,54.0,21.0,7.0,8.0,Premium,Monthly,102.56,2.0,1.0
253692,260806.0,29.0,Female,46.0,9.0,8.0,19.0,Basic,Monthly,248.28,21.0,1.0

Conclusion: contract length is monthly but their tenure is not 1??? maybe the data is wrong

In [11]:
inconsistent_rows = df[(df['Contract Length'] == 'Monthly') & (df['Tenure'] != 1)]
inconsistent_rows

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
11,14.0,52.0,Female,21.0,6.0,3.0,26.0,Premium,Monthly,830.00,19.0,1.0
18,21.0,24.0,Male,44.0,13.0,5.0,4.0,Premium,Monthly,669.00,13.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
253683,260797.0,64.0,Female,19.0,28.0,6.0,21.0,Premium,Monthly,810.08,20.0,1.0
253684,260798.0,28.0,Male,50.0,15.0,2.0,13.0,Premium,Monthly,427.31,5.0,1.0
253687,260801.0,22.0,Male,10.0,17.0,5.0,14.0,Standard,Monthly,494.73,27.0,1.0
253690,260804.0,24.0,Male,54.0,21.0,7.0,8.0,Premium,Monthly,102.56,2.0,1.0
253692,260806.0,29.0,Female,46.0,9.0,8.0,19.0,Basic,Monthly,248.28,21.0,1.0

In [12]:
consistent_rows = df[(df['Contract Length'] == 'Monthly') & (df['Tenure'] == 1)]
consistent_rows

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
227,236.0,33.0,Female,1.0,1.0,7.0,18.0,Basic,Monthly,411.00,16.0,1.0
492,501.0,29.0,Female,1.0,16.0,10.0,25.0,Premium,Monthly,464.00,1.0,1.0
638,647.0,19.0,Female,1.0,14.0,9.0,6.0,Premium,Monthly,356.00,14.0,1.0
783,792.0,22.0,Female,1.0,30.0,6.0,0.0,Basic,Monthly,639.00,23.0,1.0
871,880.0,46.0,Male,1.0,21.0,6.0,12.0,Basic,Monthly,550.00,28.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
252808,259922.0,49.0,Male,1.0,4.0,0.0,19.0,Standard,Monthly,350.27,22.0,1.0
253209,260323.0,18.0,Female,1.0,5.0,0.0,12.0,Standard,Monthly,235.25,17.0,1.0
253313,260427.0,42.0,Male,1.0,2.0,1.0,1.0,Basic,Monthly,832.29,29.0,1.0
253375,260489.0,28.0,Female,1.0,23.0,5.0,9.0,Premium,Monthly,665.01,23.0,1.0
253377,260491.0,48.0,Female,1.0,24.0,4.0,17.0,Standard,Monthly,478.51,10.0,1.0

Conclusion: Out of 87k only 1489 samples are valid tenure=1 and contract length is monthly

In [13]:
df.shape

(440833, 12)

In [15]:
df['CustomerID'].nunique()

440832

Conclusion: Customer and samples are same so no chance of downgrade