In [1]:
import os
print(os.getcwd())

d:\MLOps\customer-churn\experiments

In [2]:
os.chdir("../")
print(os.getcwd())

d:\MLOps\customer-churn

In [3]:
from src.utils import load_object
model=load_object("artifacts\model.pkl")
preprocessor=load_object("artifacts\preprocessor.pkl")

In [4]:
print(model)

DecisionTreeClassifier()

In [5]:
print(preprocessor)

ColumnTransformer(transformers=[('numerical_trans',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 ['Age', 'Tenure', 'Usage Frequency',
                                  'Support Calls', 'Payment Delay',
                                  'Total Spend', 'Last Interaction']),
                                ('categorical_trans',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('encoder',
                                                  OneHotEncoder(sparse_output=False))]),
                                 ['Gender', 'Subscription Type',
                                  'Contract Length'])])

In [6]:
preprocessor.get_feature_names_out

<bound method ColumnTransformer.get_feature_names_out of ColumnTransformer(transformers=[('numerical_trans',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 ['Age', 'Tenure', 'Usage Frequency',
                                  'Support Calls', 'Payment Delay',
                                  'Total Spend', 'Last Interaction']),
                                ('categorical_trans',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('encoder',
                                                  OneHotEncoder(sparse_output=False))]),
                                 ['Gender', 'Subscription Type',
                                  'Contract Length'])])>

In [7]:
import numpy as np
import pandas as pd
validation_data=pd.read_csv("data\customer_churn_dataset-testing-master.csv")

In [8]:
validation_data.head()

   CustomerID  Age  Gender  ...  Total Spend  Last Interaction  Churn
0           1   22  Female  ...          598                 9      1
1           2   41  Female  ...          584                20      0
2           3   47    Male  ...          757                21      0
3           4   35    Male  ...          232                18      0
4           5   53  Female  ...          533                18      0

[5 rows x 12 columns]

In [9]:
validation_data.drop(columns=['CustomerID'],inplace=True)

In [10]:
validation_data.head()

   Age  Gender  Tenure  ...  Total Spend  Last Interaction  Churn
0   22  Female      25  ...          598                 9      1
1   41  Female      28  ...          584                20      0
2   47    Male      27  ...          757                21      0
3   35    Male       9  ...          232                18      0
4   53  Female      58  ...          533                18      0

[5 rows x 11 columns]

In [11]:
val_x=validation_data.drop(columns=['Churn'])
val_y=validation_data['Churn']

In [20]:
val_y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 64374 entries, 0 to 64373
Series name: Churn
Non-Null Count  Dtype
--------------  -----
64374 non-null  int64
dtypes: int64(1)
memory usage: 503.0 KB

In [12]:
val_x.shape

(64374, 10)

In [13]:
val_trans_x=preprocessor.transform(val_x)

In [14]:
y_val=model.predict(val_trans_x)

In [21]:
y_val[:5]

array([1., 1., 1., 1., 1.])

In [17]:
from sklearn.metrics import classification_report,accuracy_score,precision_score,recall_score,f1_score

In [16]:
print(classification_report(y_val,val_y.values))

              precision    recall  f1-score   support

         0.0       0.06      0.98      0.11      1987
         1.0       1.00      0.49      0.66     62387

    accuracy                           0.50     64374
   macro avg       0.53      0.73      0.38     64374
weighted avg       0.97      0.50      0.64     64374

In [18]:
print(f1_score(y_val,val_y.values))

0.655770887166236

In [19]:
print(accuracy_score(y_val,val_y.values))

0.5033398577065274

In [22]:
print(precision_score(y_val,val_y.values))

0.9987210179385433

In [23]:
print(recall_score(y_val,val_y.values))

0.48814656899674613

Single Data Prediction

In [24]:
model.feature_importances_

array([0.11247036, 0.00757712, 0.00062259, 0.35727189, 0.1019592 ,
       0.24265101, 0.03481376, 0.00450734, 0.        , 0.00206753,
       0.        , 0.        , 0.        , 0.1360592 , 0.        ])